Question: How did Sex, Age, and class affect chances of surviving

Type of study: Observational

Description: 
Potential Biases:
when figuring out survival rate in this I used math to take every variable and turn it into a percentage of people that survived but in this data set if someone is marked incorrectly or their sex was marked incorrectly or theres an error in my code it could cause incorrect numbers

In [4]:
print(titanic_data.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
queenstown_passengers = df[df["Embarked"] == "Q"]

In [51]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

titanic_data_filename = 'titanic.csv'
titanic_data = pd.read_csv(titanic_data_filename)
df = titanic_data

In [67]:
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
titanic_data['AgeGroup'] = pd.cut(titanic_data['Age'], 
                                 bins=[0, 12, 18, 35, 60, np.inf], 
                                 labels=['Child', 'Teen', 'Young Adult', 'Adult', 'Senior'])
survival_analysis = titanic_data.groupby(['Sex', 'Pclass', 'AgeGroup'])['Survived'].agg(['count', 'sum'])
survival_analysis['SurvivalRate'] = (survival_analysis['sum'] / survival_analysis['count']) * 100
survival_pivot = pd.pivot_table(titanic_data, 
                               values='Survived', 
                               index=['Sex', 'AgeGroup'], 
                               columns=['Pclass'], 
                               aggfunc=lambda x: round(x.mean() * 100, 2))

survival_pivot = survival_pivot.fillna(0)


print("Survival Rate (%) by Sex, Class, and Age Group:")
print(survival_pivot)


print("\nAlternative visualization as a styled table:")
display(survival_pivot.style.background_gradient(cmap='YlGnBu')
        .format("{:.1f}")
        .set_caption("Survival Rate (%) by Sex, Class, and Age Group"))

for sex in titanic_data['Sex'].unique():
    pivot = pd.pivot_table(titanic_data[titanic_data['Sex'] == sex], 
                           values='Survived', 
                           index='AgeGroup', 
                           columns='Pclass', 
                           aggfunc='mean')

Survival Rate (%) by Sex, Class, and Age Group:
Pclass                   1       2       3
Sex    AgeGroup
female Child          0.00  100.00   47.83
       Teen         100.00  100.00   55.00
       Young Adult   97.22   92.50   50.00
       Adult         97.22   85.00   14.29
       Senior       100.00    0.00  100.00
male   Child        100.00  100.00   36.00
       Teen          50.00    0.00    7.69
       Young Adult   50.00    7.41   15.58
       Adult         37.04    3.70    6.82
       Senior         8.33   33.33    0.00

Alternative visualization as a styled table:

In [30]:
titanic_data.head(8)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [38]:
print ("Number of samples")
len(titanic_data)

Number of samples

891

In [58]:
sample = titanic_data.iloc[14]
print (sample)

PassengerId                                      15
Survived                                          0
Pclass                                            3
Name           Vestrom, Miss. Hulda Amanda Adolfina
Sex                                          female
Age                                            14.0
SibSp                                             0
Parch                                             0
Ticket                                       350406
Fare                                         7.8542
Cabin                                           NaN
Embarked                                          S
Name: 14, dtype: object

In [55]:
queenstown_passengers

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
790,791,0,3,"Keane, Mr. Andrew ""Andy""",male,NaN,0,0,12460,7.7500,NaN,Q
825,826,0,3,"Flynn, Mr. John",male,NaN,0,0,368323,6.9500,NaN,Q
828,829,1,3,"McCormack, Mr. Thomas Joseph",male,NaN,0,0,367228,7.7500,NaN,Q
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Sex, Age, and class are very close to each other in correlation. In the graph I made you can see that the higher class are more likely to survive, As well as if you are a child or a senior you have a more likely chance to survive but what has the most correlation to survival is sex. Females had a much higher chance to live than males.